body{
    background-color: darkgrey;
    margin: 0;
    padding: 0;
}

.header{
    position: relative;
    width: 100%;
    background-color: white;
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}
.Logo a{
    margin-left: 10px;
}
logo a:hover{
    color: red;
}
.menu{
    display: flex;
    list-style: none;
        
}
li a{
    margin: 0 15px;
    color: black;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    display: flex;
}
li a:hover{
    color: red;
}
active{
    color: red;
}
h1{
    align-items: center;
}
h1, h3{
    align-self: center;
    color: white;
    margin-left: 35%;
    font-size: xx-large;
    margin-top: 35%;
}
.footer h2{
    color: aqua;
    margin-left: 40%;
    margin-top: 60%;
}
.footer p{
    color: white;
    margin-left: 40%;
}
.footer a{
    color: whitesmoke;
    
  
}